/* Feel free to do the Final adjustment */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  border: 1px solid red; /* just for reference, remove when finalized */
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
}

header nav {
  border: 1px solid green; /* just for reference, remove when finalized */
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

header h4 {
  margin: 10px;
  padding: 10px;
  font-size: 69px;
  color: #0062e2;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 10px 40px 20px;
  padding: 20px 10px;
  width: auto;
  align-items: stretch;
  background-color: #0b0c36;
  color: aliceblue;
  border-radius: 10px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.info:hover {
  background-color: #000383;
}

.info h4 {
  margin: 20px;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  color: #FF4F5B;
}

.info p {
  display: block;
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  width: 55%;
  word-spacing: 3px;
}

#covid-map{
  width: 97%;
  height: 28rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.world_info {
  background-color: #0b0c36;
  color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 10px 40px 20px;
  padding: 20px 10px;
  width: auto;
  align-items: stretch;
  border-radius: 10px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.world_info:hover {
  background-color: #000383;
}

.world_info h4 {
  margin: 20px;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  color: #FF4F5B;
}

.world_info p {
  display: inline-block;
  word-spacing: 3px;
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  width: 55%;
}
@media (max-width: 837px)
{
  .info{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;

  }
  .info p{
    margin: 10px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .world_info{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  .world_info p{
    margin: 10px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  header h4{
    margin: 8px;
    padding: 0;
    font-size: 44px;
    color: #0062e2;
    text-align: center;
  }
  #covid-map{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
